@import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');
*{
    padding: 0%;
    margin: 0%;
}

.container{
    text-align: center;
    background-image: url("/static/images/hack.png");
    background-size:cover;
    height: 56.28vw;
}

.box{
    position: fixed;
    top: 20vw;
    width: 70vw;
    border-radius: 1vw;
    height: 20vw;
    filter: brightness(70%);
    background-color: white;
    left:  15vw;
    text-align: center;
}
.box:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
}

.box h1{
    font-size: 2.5vw;
    margin-top: 1.5vw;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
}

#url{
    border-radius: 0.5vw;
    margin-top: 4.5vw;
    font-family: 'Poppins', sans-serif;
    font-size: 2VW;
    text-align: center;
    height: 2vw;
    width: 25vw;
}

#searcch_btn{
    height: 2.5vw;
    top: 8.7vw;
    background-color: rgb(103, 103, 211);
    font-size: 2vw;
    margin-left: 1vw;
    cursor: pointer;
    width: 3vw;
    position: absolute;
}

#url:hover{
    box-shadow: 0vw 0vw 2vw red;
}

.fa-solid.fa-magnifying-glass{
    color: white;
    padding: 0%;
}

.output{
    color: rgb(102, 146, 35);
    font-size: 3vw;
}

.input p{
    margin-top: 1vw;
    font-size: 3vw;
}

#back{
    font-size: 2vw;
    height: 3vw;
    width: 6vw;
    cursor: pointer;
    border-radius: 0.5vw;
    color: white;
    margin-right: 1vw;
    background-color: rgb(108, 214, 108);
}

#back:hover{
    box-shadow: 0vw 0vw 1vw gray;
}
#proceed:hover{
    box-shadow: 0vw 0vw 1vw gray;
}

#proceed{
    cursor: pointer;
    margin-left: 3vw;
    color: white;
    border-radius: 0.5vw;
    background-color: red;
    font-size: 2vw;
    height: 3vw;
    width: 11vw;
}

a{
    text-decoration:none;
color:white;
}